@font-face{
  font-family: "D2Coding";
  src: url("../../asset/D2Coding-Ver1.3.2-20180524-all.ttc") format("truetype");
}
@font-face{
  font-family: "IBM Plex Mono";
  src: url("../../asset/IBMPlexMono-Regular.ttf") format("truetype");
}
/* @font-face{
  font-family: "D2Coding";
  src: url("../../asset/D2CodingAll/D2Coding-Ver1.3.2-20180524-all.ttc") format("truetype");
} */

h2{
  font: 14px Arial, sans-serif;
  color:#fff;
  padding: 10px;
  text-align: center;
}
#editor_option{
  position: absolute;
  top: 0px;
  left: 15px;
  color: white;
  font-size: 25px;
}
.lm_content{
  overflow: auto;
}