body{
  color: white;
}
.e_Unit{
  margin: 20px 30px;
  width: 600px;
  border: 2px white solid;
}
.e_Title{
  padding: 10px 20px;
  font-size: larger;
}
.horizontal{
  display: grid; grid-template-columns: 50% 50%;
  min-height: 200px;
}
.vertical{
  display: grid; grid-template-rows: 50% 50%;
}
.e_subUnit{
  display: grid;
  position: relative;
  grid-template-rows: 30px auto;
}
.e_subUnitContent{
  margin: auto;
}
.e_subUnitTitle{
  border-bottom: 1px #eee solid;
  border-top: 1px #eee solid;
  text-align: center;
  width: 100%;
  font-size: large;
}
.rightLine{ border-right: 1px #eee solid; }
.green{ color: #3ddc84; }
.red{ color: red; }